<%= simple_form_for @user, :url => password_reset_path(params[:id]) do |f| %>
<%= f.error_notification %>

  <div class="field">
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit t('authentication.update_password') %></div>
<% end %>

