<h1><%= t('authentication.password.request.a_new_one') %></h1>

<p><%= t('authentication.password.request.explanation') %></p>

<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag t('authentication.reset_your_password'), class: 'btn btn-primary' %></div>
<% end %>

<%# partial in tkh_menus gem or has to be added in host app %>
<%= render './shared/menus' %>
