<h1><%= t('authentication.create_account') %></h1>

<%= simple_form_for @user, :html => { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
    <%= f.input :password %>
		<%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('authentication.create_account'), :class => 'btn btn-primary' %>
  </div>
<% end %>
