<% content_for :meta_title, 'Create your password' %>
<% content_for :meta_description, "You need to create a password so that we can log you in." %>

<h1>Create Your Password & We'll Log You Right In</h1>

<%= simple_form_for @user, :url => password_creation_path(@user.id), method: :post do |f| %>
  <%= f.error_notification %>

  <p>Email: <strong><%= @user.email %></strong></p>
  <%= f.input :password, autofocus: true %>
  <%= f.input :password_confirmation %>
  <br />
  <%= f.submit 'Create password and log in!', class: 'btn btn-primary' %>
<% end %>

<br />
