<% content_for :meta_title, 'Create your password' %>
<% content_for :meta_description, "You need to enter your password so that we can log you in." %>

<h1>Create Your Password & We'll Log You Right In</h1>

<%= simple_form_for @user, :url => password_creation_path(params[:id]) do |f| %>
  <%= f.error_notification %>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>

  <%= f.submit 'Create password and log in!', class: 'btn btn-primary' %>
<% end %>
