<% content_for :meta_title, 'Create your password' %>
<% content_for :meta_description, "You need to create a password so that we can log you in." %>

<h1>Create Your Password & We'll Log You Right In</h1>

<%= simple_form_for @user, :url => password_creation_path(@user.id), method: :post do |f| %>
  <%= f.error_notification %>

  <p>Email: <strong><%= @user.email %></strong>. (<small><%= link_to "want to use a different email?", email_input_path %></small>)</p>

  <%= f.input :password, autofocus: true %>
  <%= f.input :password_confirmation %>
  <br />
  <%= f.input_field :remember_me, as: :boolean, boolean_style: :inline, checked: 'checked' %> &nbsp;remember me
  <br /><br />

  <% unless @user.visible_name_present? %>
    <p>Please take a few seconds to enter your name.</p>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <% # i want certain sites to use a different label for this. They can add a partial in host app. %>
    <%= f.input :other_name, label: render('shared/other_name_label') %><br />
  <% end %>

  <%= f.submit 'Create password and log in!', class: 'btn btn-primary' %>
<% end %>
