<% content_for :meta_title, 'Enter your password and log in!' %>
<% content_for :meta_description, "Enter your password to log in." %>

<h1>Enter Your Password & We'll Log You Right In</h1>

<%= simple_form_for @user, :url => password_checking_path(@user.id), method: :post do |f| %>
  <%= f.error_notification %>

  <p>Email: <strong><%= @user.email %></strong></p>
  <%= f.input :password, autofocus: true %>
  <br />
  <%= f.submit 'log in!', class: 'btn btn-primary' %>
<% end %>
